<h1>Create Course</h1>
<form [formGroup]="courseForm" (ngSubmit)="createCourse()">
  <div class="form-group">
    <label for="title">Title:</label>
    <input id="title" type="text" formControlName="title" required minlength="3" maxlength="100">
    <div *ngIf="courseForm.get('title')?.invalid && (courseForm.get('title')?.dirty || courseForm.get('title')?.touched)">
      <div *ngIf="courseForm.get('title')?.hasError('required')">Title is required.</div>
      <div *ngIf="courseForm.get('title')?.hasError('minlength')">Title must be at least 3 characters long.</div>
      <div *ngIf="courseForm.get('title')?.hasError('maxlength')">Title cannot exceed 100 characters.</div>
    </div>
  </div>

  <div class="form-group">
    <label for="description">Description:</label>
    <textarea id="description" formControlName="description" required></textarea>
    <div *ngIf="courseForm.get('description')?.invalid && (courseForm.get('description')?.dirty || courseForm.get('description')?.touched)">
      <div *ngIf="courseForm.get('description')?.hasError('required')">Description is required.</div>
    </div>
  </div>

  <div class="form-group">
    <label for="instructor">Instructor:</label>
    <input id="instructor" type="text" formControlName="instructor" required>
    <div *ngIf="courseForm.get('instructor')?.invalid && (courseForm.get('instructor')?.dirty || courseForm.get('instructor')?.touched)">
      <div *ngIf="courseForm.get('instructor')?.hasError('required')">Instructor is required.</div>
    </div>
  </div>

  <div class="form-group">
    <label for="duration">Duration:</label>
    <input id="duration" type="text" formControlName="duration" required>
    <div *ngIf="courseForm.get('duration')?.invalid && (courseForm.get('duration')?.dirty || courseForm.get('duration')?.touched)">
      <div *ngIf="courseForm.get('duration')?.hasError('required')">Duration is required.</div>
    </div>
  </div>

  <div class="form-group">
    <label for="startDate">Start Date:</label>
    <input id="startDate" type="date" formControlName="startDate" required>
    <div *ngIf="courseForm.get('startDate')?.invalid && (courseForm.get('startDate')?.dirty || courseForm.get('startDate')?.touched)">
      <div *ngIf="courseForm.get('startDate')?.hasError('required')">Start Date is required.</div>
    </div>
  </div>

  <div class="form-group">
    <label for="endDate">End Date:</label>
    <input id="endDate" type="date" formControlName="endDate">
  </div>

  <div class="form-group">
    <label for="syllabus">Syllabus:</label>
    <textarea id="syllabus" formControlName="syllabus"></textarea>
  </div>

  <button type="submit" [disabled]="courseForm.invalid" >Create</button>
  <button type="button" class="btn btn-primary" (click)="updateCourse()" *ngIf="updatebtn" >Update</button> 
  <!-- [disabled]="!courseForm.valid" -->

</form>

<hr>


<h1>Courses</h1>
<table>
  <tr>
    <th>ID</th>
    <th>Title</th>
    <th>Description</th>
    <th>Instructor</th>
    <th>Duration</th>
    <th>Start Date</th>
    <th>End Date</th>
    <th>Syllabus</th>
    <th>Actions</th>
  </tr>
  <tr *ngFor="let course of courses">
    <td>{{ course.id }}</td>
    <td>{{ course.title }}</td>
    <td>{{ course.description }}</td>
    <td>{{ course.instructor }}</td>
    <td>{{ course.duration }}</td>
    <td>{{ course.startDate | date }}</td>
    <td>{{ course.endDate | date }}</td>
    <td>{{ course.syllabus }}</td>
    <td>   
        <button type="button" (click)="getCourseById(course.id)">Edit</button>
        <button (click)="deleteCourse(course.id)">Delete</button>
      </td>
  </tr>
</table>

<div class="container">
  
    <h2>Search Courses</h2>
  
    <form [formGroup]="searchByTitleForm">
      <div class="form-group">
        <label for="searchByTitle">Search by Title</label>
        <input type="text" formControlName="title" class="form-control" id="searchByTitle" required>
      </div>
      <button type="button" class="btn btn-primary" (click)="searchByTitle()">Search</button>
    </form>
  
     <hr>
  
    <form [formGroup]="searchByStartDateForm">
      <div class="form-group">
        <label for="searchByStartDate">Search by startDate</label>
        <input type="date"  formControlName="startDate" class="form-control" id="searchByStartDate" required>
      </div>
      <button type="button" class="btn btn-primary" (click)="searchByStartDate()">Search</button>
    </form>
  

    <!-- <div *ngIf="searchResult">
      <h3>Search Result</h3>
      <div>
        <strong>Title:</strong> {{ searchResult.title }}
      </div>
      <div>
        <strong>Description:</strong> {{ searchResult.description }}
      </div>         
      <div>
        <strong>Instructor:</strong> {{ searchResult.instructor }}
      </div>         
    </div> -->

    <div *ngIf="searchResults.length > 0">
      <h2>Search Results:</h2>
      <ul>
        <li *ngFor="let result of searchResults">
          <p>title: {{ result.title }}</p>
          <p>description: {{ result.description }}</p>
          <p>instructor: {{ result.instructor }}</p>
        </li>
      </ul>
    </div> 

  </div>
  



<!-- <h1>Search Courses</h1>
<div>
  <label for="searchTitle">Search by Title:</label>
  <input id="searchTitle" type="text" [(ngModel)]="searchTitle">
  <button (click)="searchByTitle()">Search</button>
</div>

<div>
  <label for="searchStartDate">Search by Start Date:</label>
  <input id="searchStartDate" type="date" [(ngModel)]="searchStartDate">
  <button (click)="searchByStartDate()">Search</button>
</div>

<hr> -->

